{% extends 'parts/base/base.html' %}

{% load static %}

{% block title_block %}
  NotChat
{% endblock %}

{% block head_block %}

{% endblock %}

{% block body_block %}
  {% include 'parts/alerts/alerts.html' %}

  <h1>NotChat</h1>
  <img class="img-fluid" src="{% static '/mmd/img/parts/title/notchat.png' %}" alt="" />

  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'rooms:rooms_page' %} "class="btn btn-primary btn-lg purple-custom-btn shadow p-3 mb-5 rounded">Chat</a>
  </div>
{% endblock %}
