{% load static %}

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <a href="{% url 'copyr:copyr_page' %}" class="col-md-4 mb-0 text-muted">© NotChat</a>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"><img class="bi me-2" width="40" height="32" src="{% static 'mmd/img/parts/title/notchat.png' %}" alt="" /></a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">Home</a>
      </li>

      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'users:account_page' %}" class="nav-link px-2 text-muted">Account</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'signout:signout_page' %}" class="nav-link px-2 text-muted">SignOut</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'signin:signin_page' %}" class="nav-link px-2 text-muted">SignIn</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'signup:signup_page' %}" class="nav-link px-2 text-muted">SignUp</a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a href="{% url 'about:about_page' %}" class="nav-link px-2 text-muted">About</a>
      </li>
    </ul>
  </footer>
</div>
