{% extends 'parts/base/base.html' %}

{% load static %}

{% block title_block %}
  About
{% endblock %}

{% block head_block %}

{% endblock %}

{% block body_block %}
  <h2>About</h2>

  <div class="desc d-grid gap-1 mt-5">
    <label class="d-block"> <small>NotChat</small></label>
    <label class="d-block"> <small>Version : 0.1</small></label>
    <label class="d-block"> <small>Creator : Ali Hosseini</small></label>
    <label class="d-block"> <small>Email : ali1234wew2x3.new@gmail.com</small></label>
    <label class="d-block"> <small>GitHub : @AH12VS</small></label>
    <label class="d-block"> <small>Telegram : @Halioss</small></label>
  </div>
{% endblock %}
