{% extends 'parts/base/base.html' %}

{% load static %}

{% block title_block %}
  SignIn
{% endblock %}

{% block head_block %}

{% endblock %}

{% block body_block %}
  <div class="login-div">
    {% include 'parts/alerts/alerts.html' %}

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" />
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="passwd" id="exampleInputPassword1" />
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary btn-sm purple-custom-btn shadow p-3 mt-5 rounded">SignIn</button>
      </div>
    </form>
  </div>
{% endblock %}
